# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# Virtual Environment
# =====================================
.AI-BOT-Environment/
.venv/
venv/
env/

# =====================================
# Environment Variables
# =====================================
.env
.env.*

# =====================================
# VS Code
# =====================================
.vscode/

# =====================================
# Jupyter Notebook
# =====================================
.ipynb_checkpoints/

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Build files
# =====================================
build/
dist/
*.egg-info/

# =====================================
# MLflow
# =====================================
mlruns/
mlflow.db

# =====================================
# DVC Cache
# =====================================
.dvc/cache/

# =====================================
# OS Files
# =====================================
.DS_Store
Thumbs.db